body {  
  color : $c_base;
  font-size: 16px;
  font-family: map-get($font-family, JhengHei);
  box-sizing: border-box;
  img{
    width: 100%;
  };
  ::placeholder {
    color: $c_third;
  };
};

.header__laptop{
  display: none;
}
.header__phone{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 7.1015px 0 7.1015px 0;
  a{    
    color: $c_primary;
    @include in-center;
  };
  .i_logo{
    width: 114.14px;
  };  
};
@include laptop{
  .header__phone{
    display: none;
  }  
  .header__laptop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 42px;
    a{    
      color: $c_primary;
      @include in-center;
    };
    .i_logo{
      width: 171.22px;     
    };
    .logoArea{
      @include in-center;
      &_mark{
        height: 40px;
        width: 40px;
      };
    };
    .navGroup{
      display: flex;
      justify-content: space-between;
      &__link{
        width: 215px;
        display: flex;
        justify-content: space-around;
        font-weight: 900;
        padding-right: 79px;
      };
      
    };
  };
};
footer{
  width: 100%;
  .ComEmail{   
    @include in-center;
    flex-direction: column;
    background: $c_primary;
    font-size: $fz_xl;
    color: $c_fourth;
    padding: 0 0 30px 0;
    &__title{
      @include in-center;
      padding: 30px 0 30px 0;
      img{
        width: 40px;
        padding-right: 20px;
      };
    };    
  };
  .ComInformation{
    padding-left: 30px;
    background: $c_fourth;
    font-family: map-get($font-family, Helvetica);;
    &__logo{
      width: 171.22px;    
      padding: 2.383px 0;  
    };
    &__inf{      
      display: flex;
      flex-direction: column;
      color: $c_primary;
      line-height: 24px;
    };
    &__connection{      
      padding: 37px 0 30px 0;
      line-height: 19px;
      color: $c_primary;
      &--app{
        padding-bottom: 23px;
        img{
          height: 32px;
          width: 32px;
        };
      };      
    };
    &__text{
      display: none;
    };
  };
};
@include laptop{
  footer{
    padding-top: 60px;
    .ComEmail{
      flex-direction: row;
      padding: 0;
      &__title{
        padding: 38px 124px 38px 0;        
      };      
    };
    .ComInformation{
      padding-left: 164px;
      position: relative;
      &__inf{      
        padding-top: 76px;
      };
      &__connection{      
        padding: 30px 0 30px 0;
        display: flex;
        align-items: flex-end;
        &--app{
          padding-bottom: 0px;
          padding-right: 450px;
        };        
      };
      &__text{
        width: 59.28px;
        display: flex;
        position: absolute;
        top: 30px;
        right: 164px;
      };
    };
  };
};
h2{
  font-size: $fz_h2;
};
h3{
  font-size: $fz_h3;
};
h4{
  font-size: $fz_h4;
};
/*bg color*/
.bg-primary{
  background: $c_primary;
};
.bg-fourth{
  background: $c_fourth;
};
