.container{
  width: 375px;
  margin: 0 auto;
};
.banner{
  position: relative;
  .bg_img{
    height: 277px;
  };
  .text_img{
    width: 50.41px;
    position: absolute;
    top: 30px;
    right: 30px;
  };
};
.content{
  display: flex;
  flex-direction: column;
};
@include laptop{
  .container{
    width: 940px;
  };
  .banner{
    .bg_img{
      height: 496px;
      object-fit: cover;
    };
    .text_img{
      width: 89px;
      top: 40px;
    right: 40px;
    };
  };
  .content{
    flex-direction: row;    
    &__mt60{
      margin-top: 60px;
    };
    &__mt30{
      margin-top: 30px;
    };
    &__center{
      justify-content: center;
      align-items: center;
    };
  };
};
.articleCard{
  @include in-center;
  flex-direction: column;
  &__txtPic{   
    &--iphone{
      width: 196px;    
      padding: 2.635px 0 ;
      display: flex;
    }; 
    &--laptop{
      display: none;
    };
    &--laptop2{
      display: none;
    };
  };
  &__Pic{
    height: 250px;
    object-fit: cover;
  };
  &__word{
    background: $c_fourth;
    color: $c_third;
    font-size: $fz_base;
    line-height: 32px;
    .p1{
      padding: 30px 30px 28px 30px;
    };
    .p2{
      padding: 0 30px 30px 30px;
    };
  };
};

@include laptop{
  .articleCard{
    flex-direction: row-reverse;
    height: 420px;    
    margin-bottom: 95px;  
    &__txtPic{   
      &--iphone{        
        display: none;
      }; 
      &--laptop{
        display: flex;
        width: 89px;
        position: relative;
        bottom: 78px;
        right: 42px;
      };
      &--laptop2{
        display: flex;
        width: 89px;        
      };
    };
    &__Pic{
      height: 460px;
      width: 460px;      
    };
    &__word{
      display: flex;
      flex-direction: column;
      writing-mode: vertical-rl;
      line-height: 40px;
      
      .p1{
        padding: 70px 68px 70px 20px;
      };
      .p2{
        padding: 70px 20px 70px 0px;
      };
    };
    .order1{
      order: 1;
    };
    .order2{
      order: 2;
    };
    .order3{
      order: 3;
    };
  };
};
.CardGroup{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
};
@include laptop{
  .CardGroup{
    flex-direction: row;    
    justify-content: space-between;
  };
};
.fromGroup{
  color: $c_fourth;
  &__title{
    @include in-center;
    background: $c_primary;
    padding: 37px 0 ;
  };
  &__app{
    &--phone{
      @include in-center;
      background:$c_fourth;
      height: 116px;
      li{
        @include in-center;
        width: 105px;
        height: 56px;  
        background: $c_fifth;
      };
      .img_fb{
        width: 83px;
      };
      .img_google{
        width: 73px;
      };
      .img_yahoo{
        width: 74px;
      };
    };
    &--laptop{
      display: none;
    };
  };
  &__input{
    background: $c_primary;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0 0 30px;    
  };
};
@include laptop{
  .fromGroup{
    width: 390px;
    &__app{
      &--phone{
        display: none;
      };
      &--laptop{
        display: flex;
        flex-direction: column;
        align-items: center;
        background:$c_fourth;        
        width: 390px;
        height: 350px;
        h3{
          color: $c_primary;
          line-height: 36px;
          font-weight: normal;
          padding-top: 40px;
          padding-bottom: 36px;
        };
        li{
          @include in-center;
          width: 330px;
          height: 56px;  
          background: $c_fifth;
        };
        li+li{
          margin-top: 16px;
        };
        .img_fb{
          width: 108px;
        };
        .img_google{
          width: 94px;
        };
        .img_yahoo{
          width: 97px;
        };
      };
    };
  };
};