.container{
  width: 100%;
};
.banner{
  img{
    width: 100%;
  };
};
.BtnGroup{
  &__row{    
    display: flex;
    flex-direction: row;
    &--around{
      justify-content: space-around;
    };
    &--between{
      justify-content: space-between;      
    };
  };
  &__colum{
    display: flex;
    flex-direction: column;
  };
};