.container{
  width: 100%;
  box-sizing: border-box;
};
.banner{
  img{
    height: 277px;
  };
};
.content{
  display: flex;
  flex-direction: column;
};
@include laptop{
  .container{
    padding: 0 42px;
  };
  .banner{
    img{
      height: 496px;
      object-fit: cover;
    };
  };
  .content{
    flex-direction: row;
    margin-top: 60px;
  };
};
.articleCard{
  @include in-center;
  flex-direction: column;
  &__txtPic{   
    &--iphone{
      width: 196px;    
      padding: 2.635px 0 ;
      display: flex;
    }; 
    &--laptop{
      display: none;
    };
    &--laptop2{
      display: none;
    };
  };
  &__Pic{
    height: 250px;
    object-fit: cover;
  };
  &__word{
    background: $c_fourth;
    color: $c_third;
    font-size: $fz_base;
    line-height: 32px;
    .p1{
      padding: 30px 30px 28px 30px;
    };
    .p2{
      padding: 0 30px 30px 30px;
    };
  };
};

@include laptop{
  .articleCard{
    flex-direction: row-reverse;
    height: 420px;    
    margin-bottom: 95px;  
    &__txtPic{   
      &--iphone{        
        display: none;
      }; 
      &--laptop{
        display: flex;
        width: 89px;
        position: relative;
        bottom: 78px;
        right: 42px;
      };
      &--laptop2{
        display: flex;
        width: 89px;        
      };
    };
    &__Pic{
      height: 460px;
      width: 460px;      
    };
    &__word{
      display: flex;
      flex-direction: column;
      writing-mode: vertical-rl;
      line-height: 40px;
      
      .p1{
        padding: 70px 68px 70px 20px;
      };
      .p2{
        padding: 70px 20px 70px 43px;
      };
    };
    .order1{
      order: 1;
    };
    .order2{
      order: 2;
    };
    .order3{
      order: 3;
    };
  };
  .bgColor{
    background: $c_fourth;
  };
};
.CardGroup{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
};
@include laptop{
  .CardGroup{
    flex-direction: row;    
    justify-content: space-between;
  };
};